
h1{
    color: #00B0FF !important;
}

.navbar {
    background-color: #fff;
    font-weight: 600;
    font-size: 0.875rem;
    line-height: 0.875rem;
}

.header {
    padding-top: 8rem;
    padding-bottom: 9rem;
    background-color: #fff;
    text-align: left;
}

.p-large {
	font-size: 1.125rem;
	line-height: 1.75rem;
}

.p-small {
	font-size: 0.875rem;
	line-height: 1.5rem;
}

.btn-solid-lg:hover {
	background-color: transparent;
	color: #00B0FF; /* needs to stay here because of the color property of a tag */
	text-decoration: none;
}
.btn-solid-lg {
    display: inline-block;
    padding: 1.625rem 2.625rem 1.625rem 2.625rem;
    border: 1px solid #00B0FF;
    border-radius: 30px;
    background-color: #00B0FF;
    color: #ffffff;
    font-weight: 600;
    font-size: 0.875rem;
    line-height: 0;
    text-decoration: none;
    transition: all 0.2s;
}

.section{

    background-color: wheat;
}
.icon-box{
  
        width: 76px;
        height: 76px;
        margin-right: auto;
        margin-bottom: 2.5rem;
        margin-left: auto;
        border-radius: 10px;
        background-color: #efebfd;
    
}